$ff1: 'Mali', 'Verdana', 'Helvetica', sans-serif;
$ff2: 'Waltograph', 'Verdana', 'Helvetica', sans-serif;

$color1: #dc82bf;
$color1-shadow: #c33796;
$color2: #f9ca2e;
$color2-shadow: #bc9205;
$color2-light: #fce392;
$color3: #4c153a;
$color-bg: rgba(74, 44, 155, 0.5);

$bp: 1024px;
