@use '../constants' as *;

.search {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &__label {
    margin-right: 30px;
  }

  &__field {
    position: relative;
    flex-grow: 1;
    max-width: 300px;
  }

  &__reset {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px;
    line-height: 1;
    cursor: pointer;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  .input {
    padding-right: 35px;
  }

  @media (max-width: $bp) {
    justify-content: center;
  }
}
